datacenter = "${CONSUL_DATACENTER:dc1}"
bind_addr  = "0.0.0.0"
node_name  = "${CONSUL_NODE_NAME:movie-mate-node}"
server = true
ui = true
bootstrap_expect = 1
ui_config {
  enabled = true
  content_path = "${CONSUL_CONTENT_PATH}"
}

client_addr = "0.0.0.0"
data_dir = "/consul/data"