datacenter = "${CONSUL_DATACENTER}"
bind_addr  = "${CONSUL_BIND_ADDR}"
node_name  = "${CONSUL_NODE_NAME}"

ui_config {
  enabled = "${CONSUL_UI_IS_ENABLED}"
  content_path = "${CONSUL_CONTENT_PATH}"
}

client_addr = "0.0.0.0"
data_dir = "/consul/data"

